* {
  box-sizing: border-box;
}

body {
  background-color:rgb(1, 248, 125);
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  text-align: center;
  margin: auto;
}

#about {
  text-align: left;
  margin: 20px 20px 40px;
}

#about p {
  text-align: justify;
}

.flag {
  color: red;
}

.bcd-equiv {
  background-color: rgb(27, 235, 131);
}

select {
  background-color: rgb(251, 255, 0);
  width: 40px;
  height: 40px;
  margin: 5px;
}

#input-section {
  margin: 0;
} 

option {
  background-color: rgb(218, 218, 231);
}

#output {
  display: inline-block;
  height: 20px;
}

.result {
  vertical-align: middle;
}

button {
  width: 150px;
  height: 25px;
  margin: 20px;
}

@media (min-width: 800px) {
  body {
    width: 70vw;
  }
}

@media (min-width: 1200px) {
  body {
    width: 50vw;
  }
}